.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 26px;
  font-weight: 700;
}

.screen-header__icon {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.7);
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ("360deg");
  }
}

.screen-header__icon .fa-fog:hover {
  animation: rotateCog 1s ease-in-out infinite;
}
